@include breakpoint-min(992) {
	@include featured-area-border(3);
}

@include breakpoint-max(991) {
	.pt-100 {
		padding-top: 50px;
	}

	.pb-100 {
		padding-bottom: 50px;
	}

	.v-space-100 {
		padding-block: 50px;
	}

	.testimonials {
		.testimonials-content {
			max-width: 630px;
			margin: auto;
			flex-direction: column;
			gap: 20px;
		}
	}

	section {
		&.secondary-features {
			@include featured-area-border(1);

			.features-content {
				max-width: 600px;
				margin: auto;
			}
		}

		&:not(.secondary-features) {
			@include featured-area-border(2);
		}
	}
}

@include breakpoint-max(767) {
	@import './min767';
}
